NET "CLK"	LOC = P123;

NET "TAMP"	LOC = P114;		//K5-8 CENTER
NET "WAKE"	LOC = P115;		//K5-7 CENTER

NET "JOY[4]" LOC = P117;	//K5-5 CENTER
NET "JOY[3]" LOC = P118;	//K5-4 RIGHT
NET "JOY[2]" LOC = P119;	//K5-3 DOWN
NET "JOY[1]" LOC = P120;	//K5-2 LEFT
NET "JOY[0]" LOC = P121;	//K5-1 UP

NET "BUZ" LOC = P83;

NET "SEG[6]" LOC = P27;
NET "SEG[5]" LOC = P29;
NET "SEG[4]" LOC = P32;
NET "SEG[3]" LOC = P34;
NET "SEG[2]" LOC = P35;
NET "SEG[1]" LOC = P40;
NET "SEG[0]" LOC = P41;

NET "COM[3]" LOC = P30;
NET "COM[2]" LOC = P33;
NET "COM[1]" LOC = P43;
NET "COM[0]" LOC = P44;

NET "L[7]" LOC = P67;
NET "L[6]" LOC = P74;
NET "L[5]" LOC = P75;
NET "L[4]" LOC = P78;
NET "L[3]" LOC = P79;
NET "L[2]" LOC = P80;
NET "L[1]" LOC = P81;
NET "L[0]" LOC = P82;

NET "MN[7]" LOC = P84;
NET "MN[6]" LOC = P85;
NET "MN[5]" LOC = P87;
NET "MN[4]" LOC = P88;
NET "MN[3]" LOC = P92;
NET "MN[2]" LOC = P93;
NET "MN[1]" LOC = P94;
NET "MN[0]" LOC = P95;

NET "STATUS[4]" LOC = P5;	//K1-8
NET "STATUS[3]" LOC = P7;	//K1-7
NET "STATUS[2]" LOC = P9;	//K1-6
NET "STATUS[1]" LOC = P11;	//K1-5
NET "STATUS[0]" LOC = P14;	//K1-4

NET "STATE[1]" LOC = P21;	//K1-2
NET "STATE[0]" LOC = P23;	//K1-1

NET "POSY[2]" LOC = P6;		//K2-8
NET "POSY[1]" LOC = P8;		//K2-7
NET "POSY[0]" LOC = P10;	//K2-6

NET "POSX[2]" LOC = P17;	//K2-3
NET "POSX[1]" LOC = P22;	//K2-2
NET "POSX[0]" LOC = P24;	//K2-1